.btn {
  font-size: 1.8rem;
  display: inline-block;
  margin: 1.2rem auto 0;
  color: $black;
  border: .1rem solid $black;
  padding: 0.6rem 3.2rem;
  border-radius: 2.4rem;
  text-transform: lowercase;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}
