// Colors

$white:          #ffffff;
$black:          #111111;

$gray500:        #c3c3c3;

// Fonts
$primaryType: 'Futura', sans-serif;

/* Breakpoints */
$xxs-screen-max:	 	479px;
$xxs-screen: 				480px;
$xs-screen-max: 		767px;
$sm-screen: 				768px;
$sm-screen-max: 		991px;
$md-screen:					992px;
$md-screen-max: 		1199px;
$lg-screen: 				1200px;
$max-width:					1400px;


